body{
    background:#f4f4f4;
}
.navbar{

  min-height:13px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav > li >a, .navbar-brand{
     padding-top:6px !important; 
     padding-bottom:0 !important;
     height:33px !important;
}


.navbar {
    background-color: #f00f19 !important;
  }
  .navbar .navbar-brand {
    color: #ecf0f1 !important;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #ecdbff !important;
  }
  .navbar .navbar-text {
    color: #ecf0f1 !important;
  }
  .navbar .navbar-text a {
    color: #ecdbff !important;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #ecdbff !important; 
  }
  .navbar .navbar-nav .nav-link {
    color: #ecf0f1 !important;
    border-radius: .25rem !important;
    margin: 0 0.25em !important;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ecdbff !important;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ecdbff !important;
    background-color: rgba(240,15,25,0.6) !important;
  }
  .navbar .navbar-toggler {
    border-color: #e76963 !important;

  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #e76963 !important;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #ecf0f1 !important;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ecf0f1 !important;
  }
  .navbar .navbar-link {
    color: #ecf0f1;
  }
  .navbar .navbar-link:hover {
    color: #ecdbff;
  }
  

  /* custom */
.main-color-bg{
    background-color: #f00f19 !important;
    color:#fff;
}
.modal_body{
    color:#444;
}
.fas{
    color:coral !important;
}

.modal_color_bg{
    background-color: #f00f19 !important;
    color:#444;
}
.list_color_bg{
    background-color: #f00f19 !important;
    color:#fff;   
} 


/* header */
#header{
    background:#333333 !important;
    color:#fff;
    padding-bottom:30px;
    margin-bottom:15px;
}
#header .create{
   padding-top:10px;  
}
#header .dropdown-toggle{
    background:#fff ;
}

/* breadcrumb */
.breadcrumb{
   background:#ccc;
   color:#444;

}
.breadcrumb a{
     color:#333;
}

.navbar_icon{
    color:#fff !important;
    outline:none !important;
}



  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1 ;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff !important;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff !important;
      background-color: #e76963 !important;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1 !important;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff !important;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff !important;
      background-color: #e76963 !important;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1 !important;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff !important;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff !important;
      background-color: #e76963 !important;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #61adc0 !important;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff !important;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff;
      background-color: #e76963 !important;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1 !important;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff !important;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff !important;
    background-color: #e76963 !important;
  }

  .list-group-item{
      text-decoration: none !important;
      position: relative;
  }

  .list-group-item:hover{
      background: rgba(0,0,0,0.3);
      color:#fff;

  }
  .list-group-item .badge{
       color:#444;
       border:1px solid coral;
       border-radius:50%;
       background:rgba(255,255,255,0.9);
       position:absolute;
       top:20%;
       right:5%;
       width:30px;
       height:30px;
  }
  .list-group-item .badge small{
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
  }
  .list_group_item_child{
      text-decoration:none !important;
      color:#444;
      transition:all .6s ease;
  } 
.list_group_item_child:hover{
    padding-left:30px;
}
  
.card_custom{
    box-shadow:1px 1px 5px rgba(0,0,0,0.5);
}
.desh-box{
    width:100%;
    background:#CCCCCC;
    padding:20px;
    border-radius:5%;
    margin-top:10px;
    color:#444;
    text-align:center;
  }
.well{
    width:100%;
    background:#CCCCCC;
    padding:20px;
    border-radius:5%;
    margin-top:10px;
}


.total_number{
     font-size:16px;
     margin:0 5px;
}